<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Rechercher une catégorie" [(ngModel)]="searchTitle">
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let categorie of categories | filterCategory:searchTitle">
      <app-card-component
        [id]="categorie.id"
        [image]="categorie.image"
        [title]="categorie.title"
        [description]="categorie.description"
        [available]="categorie.available"
        [btnText]="'Voir produits'"
        (addToShortList)="addToShortList($event)">
      </app-card-component>
    </div>
  </div>
</div>